/* CONTROL BUTTONS - Movies and Series Pages */
.no-show-moviebox {
    display: none;
}
.control-btn .pages-prev {
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 99;
}
.control-btn .pages-next {
    position: absolute;
    top: 50%;
    right: 3.25%;
    z-index: 99;
}
@media only screen and (max-width: 768px) {
    /* CONTROL BUTTONS (MOBILE) - Movies and Series Pages */
    .control-btn .pages-prev {
        position: absolute;
        top: 50%;
        left: 1%;
        z-index: 99;
    }
    .control-btn .pages-next {
        position: absolute;
        top: 50%;
        right: 1%;
        z-index: 99;
    }
}